.Category{
  display: flex;
  flex-direction: column;
}
  .Items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

  }

  @media(max-width:499px){
    .Items{
      grid-template-columns: 1fr 1fr;
    }
  }
