.Search{
  outline: none;
  background-color: #0000e6;
  color: white;
  border: none;
  border-bottom: 1px solid;
}

::placeholder { 
  color: white;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: white;
}

::-ms-input-placeholder { 
  color: white;
}

@media(max-width:499px){
  .Search{
    width: 100px;
  }

}