.Sort{
  display: inline-block;
}

.Filter{
  color: #9494b8;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}

.Filter:hover, .Filter:active {
  color: #0000e6;
  text-decoration: underline;
}

@media(max-width:499px){
  .DesktopOnly{
    display: none;
  }
}